<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageplugins LLC. All rights reserved.
 * See COPYING.txt for license details.
 * https://www.mageplugins.com | support@mageplugins.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mageplugins_link_products"
                 showInDefault="1"
                 showInStore="1"
                 showInWebsite="1"
                 sortOrder="5"
                 translate="label">
            <label>Link Products</label>
            <tab>mageplugins</tab>
            <resource>Mageplugins_RelatedProducts::config_mageplugins_link_product</resource>
            <group id="about_mageplugins"
                   showInDefault="1"
                   showInStore="1"
                   showInWebsite="1"
                   sortOrder="0"
                   translate="label">
                <attribute type="expanded">1</attribute>
                <label>About Mageplugins Link Products</label>
                <field id="mageplugins_relatedproduct"
                       translate="label"
                       type="text"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Related Product</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
